{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock %}

{% block content %}

<div class="app-viewport d-flex flex-column min-vh-100">

 
    <!-- Main workspace -->
    <main class="dashboard-viewport-row d-flex flex-row flex-grow-1 w-100 min-vh-0">

        <!-- Sidebar -->
        <aside class="sidebar-wrapper d-flex flex-column flex-shrink-0">
            {% include 'reusables/_sidebar.html' %}
        </aside>

        <!-- Main content -->
        <section class="main-content-panel flex-grow-1 d-flex flex-column min-vh-0 min-w-0">

            <!-- Scroll container -->
            <div class="dynamic-scroll-container flex-grow-1 overflow-auto">
                <!-- Home Section -->
                <div id="tab-content-home" class="tab-pane-content h-100">
                    {% include 'reusables/_homeoverview.html' %}
                </div>
                <!-- Automation Section -->
                <div id="tab-content-automation" class="tab-pane-content d-none h-100">
                    {% include 'reusables/_automations_content.html' %}
                </div>

                <!-- Admin Section -->
                {% if is_admin %}
                <div id="tab-content-user_management" class="tab-pane-content d-none h-100">
                    {% include 'adminpage/admin_user_management.html' %}
                </div>
                {% endif %}

            </div>

        </section>

    </main>

</div>

<script src="{% static 'scripts/dashboard.js' %}"></script>

{% endblock %}